.margin-center {
  margin: auto;
}

.margin-s {
  margin: var(--margin-s);
}

.margin-m {
  margin: var(--margin-m);
}

.margin-l {
  margin: var(--margin-l);
}

.margin-xl {
  margin: var(--margin-xl);
}

.L-margin-s {
  margin-left: var(--margin-s);
}
.L-margin-m {
  margin-left: var(--margin-m);
}
.L-margin-l {
  margin-left: var(--margin-l);
}
.L-margin-xl {
  margin-left: var(--margin-xl);
}

.R-margin-s {
  margin-right: var(--margin-s);
}
.R-margin-m {
  margin-right: var(--margin-m);
}
.R-margin-l {
  margin-right: var(--margin-l);
}
.R-margin-xl {
  margin-right: var(--margin-xl);
}
