.margin-center {
  margin: auto;
}

.margin-s {
  margin: var(--margin-s);
}

.margin-m {
  margin: var(--margin-m);
}

.margin-l {
  margin: var(--margin-l);
}

.margin-xl {
  margin: var(--margin-xl);
}

.padding-s {
  padding: var(--margin-s);
}

.padding-m {
  padding: var(--margin-m);
}

.padding-l {
  padding: var(--margin-l);
}

.padding-xl {
  padding: var(--margin-xl);
}
