.message-content {
  width: 100%;
  height: 100%;
}

.sender-box {
  flex: 0 0 48px;
}

.flex-col.conversation {
  flex-wrap: wrap;
  align-items: baseline;
}

.bubble {
  margin: 20px 12px;
}

.message-text {
  padding: 3px 5px;
  background-color: #ade6f5b0;
}

.mine-bubble {
  align-self: flex-end;

  .flex-row {
    flex-direction: row-reverse;
  }
}
