.ant-drawer-body {
  padding: 0 !important;
}

.message-content {
  width: 100%;
  height: 100%;
}

.sender-box {
  flex: 0 0 48px;
  border-top: 1px solid #eae2e2;
}

.flex-col.conversation {
  flex-wrap: wrap;
  align-items: baseline;
}

.bubble {
  margin: 20px 12px;
}

.message-text {
  position: relative;
  padding: 3px 5px;
  background-color: #ade6f5b0;
  border-radius: 5px;

  &::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #ade6f5b0;
    content: '';
  }
}

.message-time {
  margin: 0 var(--margin-s);
}

.mine-bubble {
  align-self: flex-end;

  .flex-row {
    flex-direction: row-reverse;
  }

  .message-text::before {
    right: -7px;
    clip-path: polygon(14% 12%, 30% 17%, 53% 15%, 73% 9%, 100% 0, 49% 41%, 0 67%, 0 5%);
  }
}

.other-bubble {
  .message-text::before {
    left: -7px;
    clip-path: polygon(30% 8%, 49% 10%, 68% 8%, 100% 0, 100% 44%, 66% 37%, 39% 29%, 0 0);
  }
}
