{
  "extends": [
    "stylelint-config-rational-order",
     "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-config-rational-order/plugin"
  ],
}
