// base
@import 'src/styles/base/variable.scss';
@import 'src/styles/base/reset.scss';
@import 'src/styles/base/color.scss';
@import 'src/styles/base/font.scss';
@import 'src/styles/base/icon-font.scss';

// container
@import 'src/styles/layout/container.scss';
@import 'src/styles/layout/margin.scss';
@import 'src/styles/layout/padding.scss';

// pages
@import 'src/styles/pages/login.scss';

// components
@import 'src/styles/components/input.scss';
@import 'src/styles/components/message.scss';
@import 'src/styles/components/icon.scss';
@import 'src/styles/components/card.scss';
@import 'src/styles/components/avatar.scss';

.global-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;

  &-title {
    flex: 1;
    text-align: center;
  }
}
