@import 'src/styles/abstracts/font';

.title-1 {
  @include title(20);
  font-weight: bold;
}

.title-2 {
  @include title(18);
  font-weight: bold;
}

.title-3 {
  @include title(16);
  font-weight: bold;
}

.title-4 {
  @include title(14);
}

.title-5 {
  @include title(12);
}

.title-6 {
  @include title(10);
}

.small-text {
  @include title(10, description);
}
