:root {
  --margin-s: 4px;
  --margin-m: 8px;
  --margin-l: 16px;
  --margin-xl: 20px;

  // color
  --primary: 24, 144, 255;
  --gray-1: 146, 146, 146;

  --primary-font-color: #484848;
  --primary-color: #02cab9;
  --primary-available-color: #02cab9;
  --primary-disable-color: #b6b6b6;
}
